$textColor : #293264;
$buttonColor : #4D5B9E;

//general settings
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  background-color: #F5F7FB;
}

//start of HERO components
.hero-page {
  
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  h1{
    color:$textColor;
    width: 700;
    padding-bottom: 10px;
  }
  p {
    color: $textColor;
    padding-bottom: 20px;
  }
  button {
    width: 195px;
    height: 50px;
    background: $buttonColor;
    color: #F5F7FB;
    border: none;
    border-radius: 10px;
    font-size: 16px;
  }
}
//end of Hero component

//start of Quizpage component
.quiz-page {
  margin: 30px 0 30px 0;
  //start of child component (QUESTIONS)
  .question {
    margin: auto;
    width: 60%;
    padding: 10px;
  
    p {
      color: $textColor;
      font-weight: 700;
      padding: 10px 0 10px 0;
    }
    .choices {
      margin-bottom: 10px;
  
      button {
        margin: 0 5px 5px 0;
        border: 1px solid $buttonColor;
        border-radius: 10px;
        padding: 5px 10px 5px 10px;
        color: $textColor;
        font-weight: 500;
        cursor: pointer;
        &:hover {
          background: #9dacf7;
        }
      }
    }
  }
  @media only screen and (max-width: 992px) {
    .question {
      width: 80%;
    }
  }
  @media only screen and (max-width: 768px) {
    .question {
      width: 90%;
    }
  }
  //end of Child component

  .check-btn {
    text-align: center;

    button {
      background: $buttonColor;
      border-radius: 10px;
      width: 120px;
      height: 35px;
      border: none;
      margin-top: 30px;
      color: #F5F7FB;
    }

  }

}
//end of Quizpage component
